*{
    box-sizing: border-box;
}

text{
    font-family: Proxima Nova;
    &_normal{
        color: #000000;
    }

    &_opacity60{
        opacity: 60%;
    }

    &_bold{
        font-weight: bold;
    }

    &_18{
        font-size: 18px;
    }

    &_24{
        font-size: 24px;
    }

    &_30{
        font-size: 30px;
    }

    &_48{
        font-size: 48px;
    }
}